body.body {
  background-image: url("wp9764093.webp"); /* Replace with your actual image path */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  font-family: sans-serif;
  margin-bottom: 20px;
  color: #4109f6;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  font-size: 15px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4109f6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0;
  font-size: 15px;
}

a {
  color: #4109f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

select {
  padding: 10px 0; /* Adjust padding to ensure the text is centered vertically */
  text-align: center; /* Center the text horizontally */
  text-align-last: center; /* Aligns the selected option text */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 100%;
  margin: 0 auto; /* Center the select box if needed */
}

.back {
  color: white;
}

textarea {
  width: 100%;
  height: 70px;
  /* text-align: center; */
}

.main1 {
  color: white;
}
